<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome <%= user.username %></title>
    <link rel="stylesheet" type="text/css" href="/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <ul class="navbar">
      <li class="navlink active"><a id="home" href="/user/home">Home</a></li>
      <li class="navlink"><a id="respond" href="/user/respond">Respond</a></li>
      <li class="navlink"><a id="vote" href="/user/vote">Vote</a></li>
      <li class="navlink right"><a id="logout" href="/logout">Logout</a></li>
      <li class="navlink right"><p><%= user.username %></p></li>
    </ul>
    <div class="content">
      <h1>Welcome, <%= user.username %>.</h1>
    </div>
    <div class="info">
      <h2>The current status is </h2>
      <h1 id="status"><%= status %></h1>
      <h2>.</h2>
    </div>
    <div class="infobox">
    <% switch (status) { 
      case "signups": 
        if (signed_up) { %>
          <h2 style="color: #4CAF50;">You've signed up already!</h2>
        <%} else {%> 
          <h2 style="color: red;">You haven't signed up yet!</h2>
          <button id="signup" type="button" class="button">Sign up!</button>
        <%} 
        break; 
      case "responding":
        if (!numResps) {%>
          <h2 style="color: red;">You haven't signed up yet!</h2>
          <button id="signup" type="button" class="button">Sign up!</button>
        <%} else if (subResps < numResps) {%>
          <h2 style="color: red;">You've submitted <%= subResps %> of your <%= numResps %> responses!</h2>
          <button id="respond" type="button" class="button">Submit!</button>
        <%} else if (over) {%>
          <h2 style="color: red;">You have responses over the word count!</h2>
          <button id="respond" type="button" class="button">Edit!</button>
        <%} else {%>
          <h2 style="color: #4CAF50;">You've submitted everything already!</h2>
          <button id="respond" type="button" class="button">Edit!</button>
        <%}
        break;
      case "voting":
        if (numVotes === null) {%>
          <h2 style="color: red;">You haven't requested a voting screen yet!</h2>
          <button id="vote" type="button" class="button">Vote!</button>
        <%} else if (numVotes == 0) {%>
          <h2 style="color: red;">You've requested a voting screen, but you haven't voted yet!</h2>
          <button id="vote" type="button" class="button">Vote!</button>
        <%} else if (subResps && (numVotes < subResps)) {%>
          <h2 style="color: red;">You haven't voted on all your responses yet!</h2>
          <button id="vote" type="button" class="button">Vote!</button>
        <%} else {%>
          <h2 style="color: #4CAF50;">You've voted enough times, but you should keep voting!</h2>
          <button id="vote" type="button" class="button">Vote!</button>
        <%}
    }%>
    </div>
  </body>
  <script src="/jquery-3.3.1.js"></script>
  <script src="/home.js"></script>
</html>